 <div class="contact-main">
        <%= link_to image_tag("/assets/open.png"), ".menu", id: 'open', width: '24px' %>
            <div class="content container">
                <h1>Thanks. We'll be in touch.</h1>
            </div>
        </div>